<!DOCTYPE html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
  <meta charset="UTF-8">
  <title>Compass新規会員登録</title>
  <meta content="compass" name="description">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="">
  <meta name="keywords" content="ギフト,酒,タンブラー,ワイン,グラス">
  <meta property="og:url" content="">
  <meta property="og:type" content="website">
  <meta property="og:title" content="">
  <meta property="og:description" content="">
  <meta property="og:site_name" content="">
  <meta property="og:image" content="/images/apple-touch-icon.png">
  <meta name="twitter:card" content="summary">
  <meta name="format-detection" content="telephone=no">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="canonical" href="">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/icon/apple-touch-icon.png">
  <link rel="shortcut icon" href="/images/favicon.ico">
  <link rel="icon" type="image/png" href="/images/icon/android-touch-icon.png" sizes="192x192">
  <link rel="stylesheet" href="https://unpkg.com/ress@4.0.0/dist/ress.min.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/account.css">
</head>

<body>
  <header>
    <div class="header-wrapper">
      <div class="header-flex">
        <div class="header-icon hamburger">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      <div class="header-logo">
        <a href="/">
          <div class="gallery-cell">
            <img class="forpc header-image" src="/images/logo/LOGO.png" alt="">
            <img class="forsp header-image" src="/images/logo/LOGO.png"
              srcset="/images/logo/LOGO.png 1x,/images/logo/LOGO@2x.png 2x,/images/logo/LOGO@3x.png 3x" alt="">
          </div>
        </a>
      </div>
      <div class="header-iconarea">
        <div class="header-icon forpc">
          <img src="/images/icon/search.png">
        </div>
        <div class="header-icon">
          <i class="fa-solid fa-heart"></i>
        </div>
        <div class="header-icon">
          <i class="fa-solid fa-user"></i>
        </div>
        <div class="header-icon">
          <i class="fa-solid fa-cart-shopping"></i>
        </div>
      </div>
    </div>
    <div class="search-box forsp">
      <input type="text" name="search" placeholder="検索" class="textbox">
    </div>
  </header>

  <main>
    <nav class="navigation forpc">
      <ul>
        <% if (typeof category !='string' ) { %>
          <% category.forEach(function(val) { %>
            <li>
              <a href="/category/<%= val.id %>">
                <%= val.categoryname %>
              </a>
            </li>
            <% }) %>
              <% } %>
      </ul>
    </nav>
    <div class="main-breadcrumb-wrapper">
      <nav>
        <ol class="breadcrumb">
          <li><a href="/">TOP</a></li>
          <li><a href="/account/">新規会員登録</a></li>
        </ol>
      </nav>
    </div>
    <div class="wrap main-account-wrapper">
      <h3 class="headline-standard libre-baskerville">
        New Account
        <span class="headline-small noto-sans">新規会員登録</span>
      </h3>
      <div class="account-row-wrapper">
        <p class="form-header">
          ご登録完了後、ご入力いただいたメールアドレスに、ご登録の確認メールをお送りします。<br>(ご登録前にメールの受信設定のご確認をお願いします)<br><br>
          メールが受信できるよう、以下の設定をお願いします。<br>
          ドメイン指定をされている場合は、メールアドレスの＠以降をご登録ください。
        </p>
        <div class="account-row-parent">
          <ul>
            <li class="red">※必須項目</li>
            <li class="account-row-children">
              <label for="username">&ensp;姓名<span class="red">※</span></label>
              <input type="text" id="username" class="standard" name="username" value="" placeholder="日本 太郎">
            </li>
            <li class="account-row-children">
              <label for="userruby">&ensp;ふりがな<span class="red">※</span></label>
              <input type="text" id="userruby" class="standard" name="userruby" value="" placeholder="にほん たろう">
            </li>
            <li class="account-row-children">
              <label for="usermail">&ensp;メールアドレス<span class="red">※</span></label>
              <input type="text" id="usermail" class="standard" name="usermail" value="" placeholder="xxx@gmail.com">
            </li>
            <li class="account-row-children">
              <label for="re-usermail">&ensp;メールアドレス確認<span class="red">※</span></label>
              <input type="text" id="re-usermail" class="standard" name="re-usermail" value=""
                placeholder="xxx@gmail.com">
            </li>
            <li class="account-row-children">
              <label for="re-usermail">&ensp;パスワード<span class="red">※</span></label>
              <input type="text" id="re-usermail" class="standard" name="re-usermail" value=""
                placeholder="xxx@gmail.com">
            </li>
            <li class="account-check-children">
              <input type="checkbox" id="checkbox1" class="checkbox1" name="magazine" value="">
              <label for="checkbox1">&ensp;無料メールマガジンを登録する<br>お得情報や、おすすめの商品などをメールマガジンでお届けしています。</label>
            </li>
            <li class="account-check-children">
              <input type="checkbox" id="checkbox2" class="checkbox2" name="privacy" value="">
              <label for="checkbox2">
                <span class="red underline">&ensp;ご利用ガイド</span>と<span class="red underline">個人情報保護方針</span>に同意します<span
                  class="red">※</span></span>
              </label>
            </li>
            <li class="account-button-children">
              <button class="btn-cart btn-blue">
                <input type="submit" value="作成する">
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <hr>
    <div class="footer-area">
      <div class="content-area">
        <img class="appeal" src="/images/logo/LOGO.png">
        <div class="category">
          <% if (typeof category !='string' ) { %>
            <% category.forEach(function(val) { %>
              <div>
                <a href="/category/<%= val.id %>">
                  <%= val.categoryname %>
                </a>
              </div>
              <% }) %>
                <% } %>
        </div>
        <div class="content">
          <div>テキスト</div>
          <div>／テキスト</div>
          <div>／テキスト</div>
          <div>／テキスト</div>
          <div>／テキスト</div>
          <div>／テキスト</div>
          <div>／テキスト</div>
          <div>／テキスト</div>
          <div>／テキスト</div>
          <div>／テキスト</div>
          <div>／テキスト</div>
          <div>／テキスト</div>
          <div>／テキスト</div>
          <div>／テキスト</div>
          <div>／テキスト</div>
          <div>／テキスト</div>
        </div>
      </div>
      <div class="icon-area">
        <div>
          <img src="/images/logo/facebook.png" alt="facebookロゴ">
        </div>
        <div>
          <img src="/images/logo/instagram.png" alt="instagramロゴ">
        </div>
        <div>
          <img src="/images/logo/line.png" alt="lineロゴ">
        </div>
        <div>
          <img src="/images/logo/xcompany.png" alt="xcompanyロゴ">
        </div>
      </div>
    </div>
    <p class="copyright">Copyright 2025 Compass, Inc.</p>
  </footer>
</body>

</html>