<!DOCTYPE html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content="1;URL=https://https://compass-linq.com//manage/">
  <title>完了ページ</title>
</head>

<body>
  完了しました
</body>

</html>