<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>error</title>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="0; URL=/" />
    <link rel='stylesheet' href='/stylesheets/reset.min.css' />
    <link rel='stylesheet' href='/stylesheets/err.css' />
  </head>
  <body>
  	<h1><%= err %></h1>
  	<p><%= msg %></p>
    <p><a href="/">back</a></p>
  </body>
</html>
