.btn-info {
  background-color: #3f5871;
  color: #ffffff;
  border: 2px solid #2c3e50;
  min-width: 100px;
  line-height: 1.9;
  text-align: center;
  cursor: pointer;
  padding: 0.5em;
}
.btn-info:hover {
  background-color: #2c3e50;
  border: 2px solid #2c3e50;
  color: #ffffff;
}

