a.navigation {
  display: inline-block !important;
  background: #83cfcf !important;
  color: #ffffff !important;
  border: 1px solid #83cfcf !important;
  border-radius: 3px !important;
  min-width: 4em !important;
  max-width: 100% !important;
  font-size: 80% !important;
  line-height: 1.6 !important;
  text-align: center !important;
  text-decoration: none !important;
  cursor: pointer !important;
  padding: 0.5em !important;
  transition: all 0.2s !important;
}
a.navigation:visited {
  background: #83cfcf !important;
  color: #ffffff !important;
  border: 1px solid #83cfcf !important;
  text-decoration: none !important;
}
a.navigation:active {
  background: #ffffff !important;
  color: #83cfcf !important;
  border: 1px solid #ffffff !important;
  text-decoration: none !important;
}
a.navigation:hover {
  background: #ffffff !important;
  color: #83cfcf !important;
  border: 1px solid #ffffff !important;
  text-decoration: none !important;
  opacity: 1 !important;
}

