@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');

/*------------------------------
 ▼共通デザイン
 -------------------------------*/
/* tag */
body {
    margin: 0;
    background-image: url(../img/bg.jpg);
    background-repeat: repeat;
    background-position: center;
    background-size: 20%;
}

a {
    color: #fff;
}

p {
    margin: auto;
    justify-content: space-around;
    text-align: justify;
    font-feature-settings: "palt";
    line-height: 1.8em;
    letter-spacing: 0.05em;
}

ul {
    padding-inline-start: 0;
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.orange {
    color: #fe9500;
}

.purple {
    color: #9954d5;
}

/*------------------------------
 ▼ヘッダ部分
 -------------------------------*/
header {
    max-width: 1200px;
    margin: 30px auto;
    text-align: center;
}

/*------------------------------
 ▼メイン部分
 -------------------------------*/
main {
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

main .flow-wrapper {
    display: flex;
}

main .flow-wrapper .flow-images {
    width: 49%;
}

main .flow-wrapper .flow-images p {
    font-size: 1rem;
    margin: 10px;
    font-weight: bold;
}

main .flow-wrapper .flow-texts {
    width: 51%;
}

main .flow-wrapper .flow-texts .bubble {
    width: 500px;
    margin: 0 30px 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

main .flow-wrapper .flow-texts .bubble .bubble-head {
    padding-bottom: 10px;
    font-weight: 700;
}

main .flow-wrapper .flow-texts .bubble .bubble-main {
    text-align: left;
}

main .detail-wrapper table {
    width: 700px;
    margin: 50px auto;
    border-collapse: collapse;
    border: 1px solid;
    font-size: 0.9rem;
 }

main .detail-wrapper table tr th {
   background-color: #5dd3bd;
   border: 1px solid;
   padding: 20px;
   text-align: center;;
}

main .detail-wrapper table tr td {
    background-color: #fff;
    border: 1px solid;
    padding: 20px 30px;
    text-align: left;
 }

/*------------------------------
 ▼フッター
 -------------------------------*/
footer {
    margin-top: 150px;
}

footer .footer-headline  {
    display: flex;
    position: relative;
    width: 1200px;
    height: 620px;
    margin: auto;
    background-image: url(../img/footer_comment.png), url(../img/footer.jpg);
    background-repeat: no-repeat;
    background-position: left top, 480px top;
    background-size: 50%;
}

footer .footer-headline .footer-headline-txt {
    width: 500px;
    text-align: left;
    margin-left: 40px;
}

footer .footer-headline .footer-headline-txt p {
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 130px;
}

