@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');

/*------------------------------
 ▼共通デザイン
 -------------------------------*/
/* tag */
body {
    margin: 0;
    background-image: url(../img/bg.jpg);
    background-repeat: repeat;
    background-position: center;
    background-size: 20%;
}

a {
    color: #fff;
}

p {
    margin: auto;
    justify-content: space-around;
    text-align: justify;
    font-feature-settings: "palt";
    line-height: 1.8em;
    letter-spacing: 0.05em;
}

ul {
    padding-inline-start: 0;
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

input[type=radio] {
    display: none;
}

a {
    text-decoration: none;
}

/* font */
.zen-maru-gothic-bold {
    font-family: "Zen Maru Gothic", serif;
    font-weight: 700;
    font-style: normal;
}

/* hide */
.display-none {
    display: none;
}

/* color */
.red {
    color: #d80909;
    font-weight: bold;
}

.purple_bk {
    background-color: #b67dec;
}

.skyblue_bk {
    background-color: #9febf4;
}

.green_bk {
    background-color: #bdf49f;
}

.orange_bk {
    background-color: #edaf77;
}

.pink_bk {
    background-color: #ffc1f7;
}

/* fontsize */
.small {
    font-size: 0.8rem;
}

/* fix */
.fixed_btn {
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: right;
}

/* button */
.btn {
    text-align: center;
    color: #fff;
    border-radius: 10px;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 3em;
}

.btn-blue {
    background-color: #00589c;
}

.btn-purple {
    background-color: #ad2bb2;
}

.btn-orange {
    background-color: #eb6100;
}

/*------------------------------
 ▼ヘッダ部分
 -------------------------------*/
/* content */
.whole-header {
    max-width: 100%;
    background-color: #000;
}

.content-wrapper {
    max-width: 1200px;
    margin: 20px auto;
}

/* header */
.whole-header p {
    text-align: center;
    font-size: 0.9rem;
    color: #fff;
}

.header-wrapper .header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-wrapper .header-flex div {
    padding-right: 20px;
}

.header-wrapper .header-flex .header-logo {
    margin-left: 10px;
}

.header-wrapper .header-flex .header-logo img {
    margin-left: 10px;
}

.header-wrapper .header-flex .login {
    margin-left: auto;
}

.header-wrapper .header-flex .login p {
    font-size: 1rem;
    font-weight: 800;
}

.header-wrapper .header-flex .telephone p {
    font-size: 1.4rem;
    font-weight: 800;
}

.header-wrapper .header-flex .information img {
    width: 38px;
}

.header-catch {
    margin-top: 30px;
}

.header-catch .header-headline {
    position: relative;
    width: 800px;
    height: 460px;
    margin: auto;
    background-image: url(../img/header_comment.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
}

.header-catch .header-headline p {
    position: absolute;
    top: 125px;
    left: 20px;
    right: 20px;
    font-size: 1.2rem;
    text-align: center;
    color: #fff;
}

.header-catch .header-image {
    width: 1000px;
    margin: auto;
}

.header-catch .header-button-image {
    width: 600px;
    margin: auto;
}

/*------------------------------
 ▼コンテンツ部分
 -------------------------------*/
main {
    margin-top: 70px;
}

/* movie */
main .movie-wrapper {
  margin: 0 auto 20px auto;
  width: 1200px;
  position: relative;
  border: none;
  padding: 0;
}

main .movie-wrapper .bk-movie {
  max-height: 800px;
  width: 100%;
}

main .movie-wrapper .bk-movie video {
  width: 100%;
  height: auto;
  margin: auto;
  display: block;
}

main .movie-wrapper  img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
}

/* entry */
main .entry-wrapper {
    margin-top: 150px;
}

main .entry-wrapper .entry-image {
    text-align: center;
}

main .entry-wrapper .entry-image img {
    width: 950px;
}

main .entry-wrapper .entry-headline {
    margin-top: 40px;
}

main .entry-wrapper .entry-headline p {
    text-align: center;
    font-size: 1.15rem;
    line-height: 2.5em;
    font-weight: 500;
}

/* appeal */
main .appeal-wrapper .appeal-headline {
    position: relative;
    width: 950px;
    margin: 80px auto;
    padding: 35px 10px 10px;
    text-align: center;
    font-size: 1rem;
    line-height: 2em;
    background-color: #000;
    border-radius: 20px;
}

main .appeal-wrapper .appeal-headline > img {
    position: absolute;
    width: 500px;
    top: -37px;
    left: 230px;
}

main .appeal-wrapper .appeal-headline ul li {
    width: 95%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
}

main .appeal-wrapper .appeal-headline ul li .appeal-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

main .appeal-wrapper .appeal-headline ul li .appeal-div .appeal-img-div {
    width: 30%;
}

main .appeal-wrapper .appeal-headline ul li .appeal-div .appeal-img-div img {
    width: 200px;
    padding-top: 10px;
}

main .appeal-wrapper .appeal-headline ul li .appeal-div .appeal-txt-div {
    width: 70%;
    padding-left: 5px;
}

main .appeal-wrapper .appeal-headline ul li .appeal-div .appeal-txt-div p {
    font-size: 0.9rem;
}

main .appeal-wrapper .header-button-image {
    width: 600px;
    margin: auto;
}

/*------------------------------
 ▼お客様の声部分
 -------------------------------*/
 /* wrapper */
main .voice-wrapper {
    position: relative;
    max-width: 1200px;
    margin-top: 300px;
}

main .voice-wrapper .voice-image {
    position: absolute;
    top: -250px;
    left: 300px;
}

main .voice-bk-wrapper {
    max-width: 1200px;
    padding-top: 100px;
    background-color: #ffcd46;
}

main .voice-headline {
    max-width: 800px;
    margin: auto;
}

/* icon */
main .voice-wrapper .voice-image {
    width: 600px;
    margin: 50px auto;
}

main .voice-wrapper ul li .voice-div .voice-img {
    margin: 30px 0;
}

main .voice-wrapper ul li .voice-div .voice-img img {
    width: 200px;
    margin: 10px auto;
}

main .voice-wrapper ul li .voice-div {
    display: flex;
}

/* bubble */
main .voice-wrapper ul li .voice-div .voice-txt {
    position: relative;
    width: 700px;
    height: 140px;
    background: #FFFFFF;
    padding: 20px;
    text-align: left;
    border: 1px solid #F1C142;
    color: #333333;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 41px;
    -webkit-border-radius: 41px;
    -moz-border-radius: 41px;
}

main .voice-wrapper ul li .voice-div.left .voice-txt {
  margin-left: 30px;
}

main .voice-wrapper ul li .voice-div.right .voice-txt {
  margin-right: 30px;
}

main .voice-wrapper ul li .voice-div .voice-txt p {
    margin: 0 30px;
}

main .voice-wrapper ul li .voice-div .voice-txt:after,
main .voice-wrapper ul li .voice-div .voice-txt:before {
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    pointer-events: none;
    position: absolute;
    top: 50%;
}

main .voice-wrapper ul li .voice-div .voice-txt:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-width: 10px;
    border-bottom-width: 10px;
    border-left-width: 30px;
    border-right-width: 30px;
    margin-top: -10px;
}

main .voice-wrapper ul li .voice-div .voice-txt:before {
    border-color: rgba(241, 193, 66, 0);
    border-top-width: 11px;
    border-bottom-width: 11px;
    border-left-width: 33px;
    border-right-width: 33px;
    margin-top: -11px;
}

main .voice-wrapper ul li .voice-div.right .voice-txt:after,
main .voice-wrapper ul li .voice-div.right .voice-txt:before {
    left: 100%;
}

main .voice-wrapper ul li .voice-div.right .voice-txt:after {
    border-left-color: #FFFFFF;
}

main .voice-wrapper ul li .voice-div.right .voice-txt:before {
    margin-left: 1px;
    border-left-color: #F1C142;
}

main .voice-wrapper ul li .voice-div.left .voice-txt:after,
main .voice-wrapper ul li .voice-div.left .voice-txt:before {
    right: 100%;
}

main .voice-wrapper ul li .voice-div.left .voice-txt:after {
    border-right-color: #FFFFFF;
}

main .voice-wrapper ul li .voice-div.left .voice-txt:before {
    margin-right: 1px;
    border-right-color: #F1C142;
}

main .voice-wrapper ul li .voice-div .voice-txt .review {
    position: absolute;
    top: 80%;
    left: 72%;
    color: #ffd35e;
}

/* lineup button */
main .product-button-image {
    width: 600px;
    margin: 50px auto;
}

/*------------------------------
 ▼商品一覧
 -------------------------------*/
 /* product wrapper */
 main .product-wrapper {
    width: 1200px;
    background-image: url(../img/lineuphead.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
}

main .product-wrapper .product-row-wrapper {
    position: relative;
    width: 1000px;
    padding-top: 500px;
    display : flex;
    flex-wrap : wrap;
    margin: auto;
    justify-content:space-between;
}

/* product header */
main .product-wrapper .product-row-wrapper .product-row-head {
    width: 1000px;
    margin: 20px 0 0;
    padding: 10px 13px;
    background-color: #fff;
}

main .product-wrapper .product-row-wrapper .product-row-head .product-row-head-child {
    display : flex;
    flex-wrap : wrap;
    margin: auto;
    justify-content:space-between;
}

main .product-wrapper .product-row-wrapper .product-row-head .product-row-head-child .product-row-head-child-img {
    position: relative;
    width: 50%;
}

main .product-wrapper .product-row-wrapper .product-row-head .product-row-head-child .product-row-head-child-img img {
    width: 450px;
    position: absolute;
    top: 0;
    left: 0;   
}

main .product-wrapper .product-row-wrapper .product-row-head .product-row-head-child .product-row-head-child-img img.icon {
    left: 30px;
    width: 155px;
    z-index: 100;
}

main .product-wrapper .product-row-wrapper .product-row-head .product-row-head-child .product-row-head-child-detail {
    width: 50%;
    text-align: center;
}

main .product-wrapper .product-row-wrapper .product-row-head .product-row-head-child .product-row-head-child-detail img {
    width: 90%;
    margin-top: 20px;
}

main .product-wrapper .product-row-wrapper .product-row-head .product-row-head-child .product-row-head-child-detail ul li.list-title {
    color:#000;
    font-size: 1.3rem;
    font-weight: 800;
    margin: auto;
}

main .product-wrapper .product-row-wrapper .product-row-head .product-row-head-child .product-row-head-child-detail ul li.list-spec {
    width: 70%;
    margin: 10px auto;
}

main .product-wrapper .product-row-wrapper .product-row-head .product-row-head-child .product-row-head-child-detail ul li.list-spec .spec-flex {
    display: flex;
    justify-content: space-between;
    color: grey;
    font-size: 0.7rem;
}

main .product-wrapper .product-row-wrapper .product-row-head .product-row-head-child .product-row-head-child-detail ul li.list-price {
    color:#00589c;
    font-size: 1.3rem;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .product-wrapper .product-row-wrapper .product-row-head .product-row-head-child .product-row-head-child-detail ul li.list-price .piece {
    width: 60px;
    height: 30px;
    text-align: center;
    background-color: #00589c;
    color: #fff;
    border-radius: 10px;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 2.5em;
}

main .product-wrapper .product-row-wrapper .product-row-head .product-row-head-child .product-row-head-child-detail ul li.list-price .price {
    width: 60px;
    font-size: 2rem;
    padding-right: 20px;
}

main .product-wrapper .product-row-wrapper .product-row-head .product-row-head-child .product-row-head-child-detail ul li.list-price .small {
    width: 60px;
    padding-top: 10px;
}

main .product-wrapper .product-row-wrapper .product-row-head .product-row-head-child .product-row-head-child-detail ul li.list-price .btn {
    position:relative;
    width: 220px;
    height: 35px;
    margin: 20px 0;
}

main .product-wrapper .product-row-wrapper .product-row-head .product-row-head-child .product-row-head-child-detail ul li.list-price .btn a {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

main .product-wrapper .product-row-wrapper .product-row-head .product-row-head-child .product-row-head-child-detail ul li.list-setprice {
    color:#ad2bb2;
    font-size: 1rem;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .product-wrapper .product-row-wrapper .product-row-head .product-row-head-child .product-row-head-child-detail ul li.list-setprice .piece {
    width: 60px;
    height: 30px;
    text-align: center;
    background-color: #ad2bb2;
    color: #fff;
    border-radius: 10px;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 2.5em;
}

main .product-wrapper .product-row-wrapper .product-row-head .product-row-head-child .product-row-head-child-detail ul li.list-setprice .price {
    width: 60px;
    font-size: 2rem;
    padding-right: 20px;
}

main .product-wrapper .product-row-wrapper .product-row-head .product-row-head-child .product-row-head-child-detail ul li.list-setprice .small {
    width: 60px;
    height: 35px;
    padding-top: 20px;
}

main .product-wrapper .product-row-wrapper .product-row-head .product-row-head-child .product-row-head-child-detail ul li.list-setprice .btn {
    position:relative;
    width: 220px;
    height: 35px;
    margin: 20px 0;
}

main .product-wrapper .product-row-wrapper .product-row-head .product-row-head-child .product-row-head-child-detail ul li.list-setprice .btn a {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

main .product-wrapper .product-row-wrapper .product-row-head .product-row-head-child .product-row-head-child-detail ul li.list-annotation {
    font-size: 0.7rem;
    text-align: left;
    color: #ad2bb2;
}

main .product-wrapper .product-row-wrapper .product-row-head .product-row-head-child-explanation {
    margin: 20px 0 15px;
}

main .product-wrapper .product-row-wrapper .product-row-head .product-row-head-child-explanation p {
    font-size: 0.9rem;
    padding: 0 20px;
}

main .product-wrapper .product-row-wrapper .product-row-head .product-row-head-child-explanation .detail {
    width: 250px;
    height: 35px;
    margin: 15px auto;
}

main .product-wrapper .product-row-wrapper .product-row-head .product-row-head-child-explanation .list-buttons div {
    position:relative;
    width: 300px;
    height: 35px;
    margin: 20px auto;
}

main .product-wrapper .product-row-wrapper .product-row-head .product-row-head-child-explanation .list-buttons a {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

/* product main */
main .product-wrapper .product-row-wrapper .product-row-child {
    width: 300px;
    margin: 20px 0;
    padding: 10px 13px;
    background-color: #fff;
}

main .product-wrapper .product-row-wrapper .product-row-child ul li.list-image {
    height: 300px;
    position: relative;
    color:#000;
    font-size: 1.3rem;
    font-weight: 800;
}

main .product-wrapper .product-row-wrapper .product-row-child ul li.list-image img {
    position: absolute;
    top: 0;
    left: 0;
}

main .product-wrapper .product-row-wrapper .product-row-child ul li.list-image .icon {
    width: 115px;
    z-index: 100;
}

main .product-wrapper .product-row-wrapper .product-row-child ul li.list-title {
    height: 60px;
    color:#000;
    font-size: 1.2rem;
    font-weight: 800;
    padding: 10px 10px 0 10px;
}

main .product-wrapper .product-row-wrapper .product-row-child ul li.list-price {
    color:#00589c;
    padding: 5px 25px;
    font-size: 1.4rem;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .product-wrapper .product-row-wrapper .product-row-child ul li.list-price .piece {
    width: 60px;
    height: 30px;
    text-align: center;
    background-color: #00589c;
    color: #fff;
    border-radius: 10px;
    font-size: 0.8rem;
    margin-right: 50px;
    font-weight: 500;
    line-height: 2.5em;
}

main .product-wrapper .product-row-wrapper .product-row-child ul li.list-setprice {
    color:#ad2bb2;
    padding: 5px 25px;
    font-size: 1.4rem;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .product-wrapper .product-row-wrapper .product-row-child ul li.list-setprice .piece {
    width: 60px;
    height: 30px;
    text-align: center;
    background-color: #ad2bb2;
    color: #fff;
    border-radius: 10px;
    font-size: 0.8rem;
    margin-right: 50px;
    font-weight: 500;
    line-height: 2.5em;
}

main .product-wrapper .product-row-wrapper .product-row-child ul li.list-annotation {
    padding-left: 20px;
    font-size: 0.7rem;
    color: #ad2bb2;
}

main .product-wrapper .product-row-wrapper .product-row-child ul li.list-text {
    height: 220px;
    margin: 50px 0 20px;
}

main .product-wrapper .product-row-wrapper .product-row-child ul li.list-text p {
    color:#000;
    font-size: 0.9rem;
}

main .product-wrapper .product-row-wrapper .product-row-child ul li.list-buttons div {
    position:relative;
    width: 300px;
    height: 35px;
    margin: 20px 0;
}

main .product-wrapper .product-row-wrapper .product-row-child ul li.list-buttons a {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

main .product-wrapper .product-row-wrapper .product-row-child ul li.list-spec {
    margin-top: 20px;
    color: grey;
    font-size: 0.8rem;
}

/*------------------------------
 ▼フッター
 -------------------------------*/
footer {
    margin-top: 50px;
}

footer .footer-headline  {
    display: flex;
    position: relative;
    width: 1200px;
    height: 620px;
    margin-left: 100px;
    background-image: url(../img/footer_comment.png), url(../img/footer.jpg);
    background-repeat: no-repeat;
    background-position: left top, 480px top;
    background-size: 50%;
}

footer .footer-headline .footer-headline-txt {
    width: 500px;
    text-align: left;
    margin-left: 40px;
}

footer .footer-headline .footer-headline-txt p {
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 130px;
}

