@charset "utf-8";

/* -----------------------------------------------------------------
   detail
----------------------------------------------------------------- */
/* general */
select {
  position: relative;
  padding: 10px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* breadcrumb */
.breadcrumb {
  text-align: left;
  margin: 60px 0 0 34px;
  padding: 16px;
  font-size: 0.7rem;
  color: #362c2d
}

.breadcrumb li {
  display: inline-block;
}

.breadcrumb a {
  color: #362c2d
}

.breadcrumb a::after {
  content: '\03e';
  margin: 0 2px 0 6px;
}

.breadcrumb li:last-child a::after {
  display: none;
}

.pdname {
  font-size: 0.8rem;
  color: #362c2d
}

/* general */
.item-select {
  text-align: left;
  margin: 0 auto;
}

.item-select .goods-quantity .goods-quantity-input {
  width: 50px;
}

.item-select .item-option {
  margin-bottom: 16px;
}

.item-select .item-option select {
  width: 100%;
}

.item-select .item-quantity .quantity-label {
  font-size: 0.9rem;
  display: inline-block;
}

.item-select .item-quantity {
  display: flex;
  align-items: center;
}

.item-select .item-quantity .select-wrap {
  position: relative;
  width: 100px;
  margin-left: 10px;
  background-color: #fff !important;
}

.item-select .item-quantity select.skuquantity {
  border: 1px solid #e7e7e7;
}

/* all */
.main-section {
  margin-bottom: 30px;
}

.main-section hr {
  opacity: 0.3;
  background-color: #e5e5e5;
}

.item-wrap {
  padding: 0 50px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.item-wrap .headline {
  margin-left: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: left;
}

.item-wrap .subscript {
  margin-left: 20px;
  text-align: left;
}

/* leftside */
.item-wrap .item-image {
  width: 53%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4px 0;
}

.item-wrap .item-image>img {
  margin: auto;
}

.item-wrap .item-image img {
  max-width: 90%;
}

.item-wrap .item-image-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 30px;
}

.item-wrap .item-image-list li.item-image-unit {
  width: 80px !important;
  margin: 0 5px;
  border: 1px solid #807a53;
}

.item-wrap .item-image-list li.item-image-unit img {
  max-width: 100%;
}

.item-image .item-subinfo {
  margin-top: 30px;
  text-align: left;
}

.item-subinfo .item-review {
  text-align: left;
}

.item-subinfo .item-review hr {
  margin: 2vw 0;
}

.item-subinfo .item-review .review-header-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-subinfo .item-review .review-header-area .review-button .show-detail {
  width: 160px;
}

.item-subinfo .item-review .review-link {
  display: flex;
  align-items: center;
}

.item-subinfo .item-review .review-link span {
  margin: 0 10px;
}

.item-subinfo .item-review .review-link .reviewRate {
  margin: 2px 8px;
}

.item-subinfo .item-review .review-link .reviewRate {
  margin: 2px 8px;
}

.item-subinfo .item-review .review-empty {
  text-align: center;
  margin-left: 5px;
}

.item-subinfo .review-look {
  height: 35px;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.item-subinfo .review-look a {
  color: #362c2d;
}

.item-subinfo .item-despriction2 {
  text-align: left;
  margin: 5px 0;
  font-size: 0.9rem;
}

.item-subinfo .item-despriction2 .despriction2-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-subinfo .item-despriction2 .despriction2-header span {
  font-size: 0.6rem;
}

.item-subinfo .item-despriction2 .despriction2-header .close-button {
  cursor: pointer;
}

.item-subinfo .item-despriction2 .despriction2-header .despriction2-header-part {
  display: flex;
  flex-direction: column;
}

.item-subinfo .item-despriction2 .sub-description {
  margin-top: 20px;
  padding: 20px 40px;
  border: 1px solid #e5e5e5;
}

/* right side */
.item-wrap .item-info {
  width: 47%;
  padding: 16px 16px 64px 48px;
  background: #fff;
}

.item-wrap .item-info .item-info-head {
  padding-top: 0;
}

.item-info .item-info-head .item-name {
  margin: 5px 0;
  padding: 5px 0 5px 10px;
  font-size: 1.1rem;
  font-weight: 600;
  color: #3e4241;
  position: relative;
  word-break: break-all;
  border-left: 1px solid #c1342a;
}

.item-info .cartin-area {
  padding: 20px 20px 30px 20px;
  font-size: 0.9rem;
  font-weight: bold;
  background-color: #f7f3e9;
}

.item-info .item-price-wrap {
  margin: 5px 0 15px 0;
  display: flex;
  align-items: center;
}

.item-info .item-price-wrap .item-point {
  margin-left: 40px;
  padding: 0 10px;
  font-size: 0.8rem;
  font-weight: normal;
  background-color: #fff;
}

.item-info .item-price-wrap .item-price {
  margin-left: 20px;
  font-size: 1.1rem;
  color: #c1342a;
  display: inline-block;
  font-weight: bold;
}

.item-info .item-price-wrap .tax {
  font-size: 0.7rem;
  color: #3e4241;
  margin-left: 2px;
}

.item-info .item-price-wrap .before-price {
  color: #716969;
  font-size: 0.9rem;
  position: relative;
  padding-bottom: 24px;
}

.item-info .item-price-wrap .before-price::after {
  content: "";
  vertical-align: middle;
  position: absolute;
  left: 50%;
  right: 0;
  bottom: 5px;
  width: 8px;
  height: 8px;
  margin-left: -4px;
  border-top: 3px solid #DDDBDB;
  border-right: 3px solid #DDDBDB;
  transform: rotate(135deg);
}

.item-info .item-price-wrap .sale-price .item-price {
  color: #7f7a52;
}

.item-info .item-info-head .item-despriction {
  text-align: left;
  margin: 30px 0;
  font-size: 0.9rem;
}

.item-info .item-info-head .item-despriction ul {
  margin: 10px 0;
  padding-left: 10px;
  list-style: square;
}

.item-info .item-info-head .item-despriction h2 {
  margin-top: 20px;
  font-size: 1rem;
  font-weight: bold;
}

.item-info .item-price-wrap .item-sale-discount {
  vertical-align: text-top;
  margin-left: 0;
  margin-right: 8px;
}



.item-info .cartin-area .item-btn-wrap {
  width: 100%;
  margin: 24px auto 0 auto;
}

.item-info .cartin-area .item-btn-wrap .item-btn {
  width: 100%;
  padding: 16px 0;
}

.item-info .cartin-area .item-btn-wrap .item-btn.disabled {
  background: #DDDBDB;
  cursor: default;
  pointer-events: none;
}

.item-info .cartin-area .item-btn-wrap .item-btn.off {
  display: none;
}

.item-info .cartin-area .item-btn-wrap .item-btn.on {
  display: inline-block;
}

table.sku {
  width: 100%;
}

table.sku tr {
  height: 50px;
}

table.sku tr td {
  text-align: center;
  vertical-align: middle;
  font-size: 0.8rem;
}

table.sku tr td .item-stock-sku {
  font-size: 0.6rem;
}

table.sku .cart-btn {
  width: 140px;
  height: 40px;
  padding: 10px;
  background: #362f2f;
  color: #fff;
  font-size: 0.8rem;
  border-radius: 30px;
  font-weight: bold;
  text-align: center;
}

.cartin-area .item-btn-wrap .cart-btn {
  background: #362f2f;
  color: #fff;
  font-size: 0.8rem;
  border-radius: 30px;
  font-weight: bold;
  text-align: center;
}

.item-btn-option-wrap {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  color: #362c2d;
}

.item-btn-option-wrap button {
  width: 45%;
  height: 35px;
}

.item-btn-option-wrap button a {
  font-size: 0.6rem;
  color: #362c2d;
}

.item-btn-wrap .restock-btn {
  background: #5d9188;
  color: #fff;
  font-size: 1.1rem;
}

.item-info.item-btn-wrap .soldout {
  color: #5d9188;
  border: 1px solid #5d9188;
}

.item-info .item-btn-wrap .option-soldout {
  border: none;
  margin-bottom: 24px;
}

/* catch */
.product-catch-area {
  width: 90%;
  margin: 20px auto;
  text-align: center;
}

.product-catch-area hr {
  opacity: 0.3;
  background-color: #e5e5e5;
}

.product-catch-area .subscript {
  margin-left: 10px;
  text-align: left;
}

.product-catch-area .catch-header h1 {
  font-size: 1.1rem;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #c1342a;
}

.product-catch-area .catch-main {
  font-size: 0.9rem;
  text-align: left;
}

.product-catch-area .catch-main h2 {
  margin: 50px 0 20px 0;
  padding-bottom: 10px;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  border-bottom: 1px solid #c1342a;
}

.product-catch-area .cartin-area {
  width: 400px;
  margin: 50px auto;
  padding: 15px 15px 15px 30px;
  font-size: 0.9rem;
  font-weight: bold;
  background-color: #f7f3e9;
}

.product-catch-area .cartin-area .general-buy>p {
  margin-left: 20px;
  text-align: left;
}

.product-catch-area .cartin-area .item-btn-wrap {
  width: 300px;
  margin: 12px auto 0px auto;
}

.product-catch-area .cartin-area .item-btn-wrap .item-btn {
  width: 100%;
  padding: 16px 0;
}

.product-catch-area .cartin-area .item-btn-wrap .item-btn.disabled {
  background: #DDDBDB;
  cursor: default;
  pointer-events: none;
}

.product-catch-area .cartin-area .item-btn-wrap .item-btn.off {
  display: none;
}

.product-catch-area .cartin-area .item-btn-wrap .item-btn.on {
  display: inline-block;
}

.product-catch-area .cartin-area .item-btn-wrap .cart-btn {
  background: #362f2f;
  color: #fff;
  font-size: 0.8rem;
  border-radius: 30px;
  font-weight: bold;
  text-align: center;
}

.product-catch-area .item-price-wrap {
  margin: 5px 0 15px 0;
  display: flex;
  align-items: center;
}

.product-catch-area .item-price-wrap .item-point {
  margin-left: 10px;
  padding: 0 10px;
  font-size: 0.8rem;
  font-weight: normal;
  background-color: #fff;
}

.product-catch-area .item-price-wrap .item-price {
  margin-left: 20px;
  font-size: 1.1rem;
  color: #c1342a;
  display: inline-block;
  font-weight: bold;
}

.product-catch-area .item-price-wrap .tax {
  font-size: 0.9rem;
  color: #3e4241;
  margin-left: 2px;
}

.product-catch-area .item-price-wrap .before-price {
  color: #716969;
  font-size: 0.9rem;
  position: relative;
  padding-bottom: 24px;
}

.product-catch-area .item-price-wrap .before-price::after {
  content: "";
  vertical-align: middle;
  position: absolute;
  left: 50%;
  right: 0;
  bottom: 5px;
  width: 8px;
  height: 8px;
  margin-left: -4px;
  border-top: 3px solid #DDDBDB;
  border-right: 3px solid #DDDBDB;
  transform: rotate(135deg);
}

.product-catch-area .item-review {
  text-align: left;
}

.product-catch-area .item-review .review-header-area {
  padding-left: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-catch-area .item-review .review-header-area .review-button .show-detail {
  width: 160px;
  margin-right: 10px;
}

.product-catch-area .item-review .review-link {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.product-catch-area .item-review .review-link span {
  margin: 0 10px;
}

.product-catch-area .item-review .review-link .reviewRate {
  margin: 2px 8px;
}

.product-catch-area .review-look {
  height: 35px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.product-catch-area .review-look a {
  color: #362c2d;
}

.product-catch-area .catch-main .description ul {
  margin: 0 0 50px 20px;
  list-style: square;
}

/* recently items */
.recently-list-wrap {
  width: 80%;
  margin: 50px auto;
  padding: 20px;
  color: #362c2d;
  background-color: #f7f3e9;
}

.recently-list-wrap .recently-title {
  font-size: 1.2rem;
  text-align: left;
  margin-bottom: 16px;
}

.recently-list-wrap .recently-item {
  width: calc(100% / 5);
  display: flex;
  justify-content: space-between;
}

.recently-list-wrap a {
  color: #3e4241;
}

.recently-list-wrap hr {
  width: 100%;
  margin-bottom: 20px;
}

.recently-list-wrap .recently-title {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: #3e4241;
}

.recently-list-wrap .product-item-name {
  font-size: 0.8rem;
}

.recently-list-wrap .product-item-price {
  font-size: 1rem;
}

/* -----------------------------------------------------------------
   smartphone
----------------------------------------------------------------- */
@media screen and (max-width: 767px) {

  /* breadcrumb */
  .breadcrumb {
    margin: 5vw 0 0 1vw;
    padding: 2vw 0;
    font-size: 0.6rem;
  }

  /* main */
  .main-section {
    width: 100vw;
  }

  .main-section .item-wrap {
    display: flex;
    flex-direction: column;
    margin-top: 5vw;
    padding: 0;
  }

  .item-wrap .item-image {
    width: 100%;
  }

  .item-image .item-image-list {
    padding: 0 2vw;
  }

  .item-image .item-image-list .item-image-unit {
    width: 70vw !important;
    opacity: 1 !important;
    left: 0 !important;
  }

  /* general */
  .item-select {
    margin: auto;
    width: 50px;
  }

  .item-select .item-quantity {
    display: flex;
    justify-content: center;
  }

  .item-select .goods-quantity .goods-quantity-label {
    display: none;
  }

  /* review */
  .item-subinfo .item-despriction2 .sub-description {
    width: 100%;
    font-size: 1rem;
  }

  .item-subinfo .item-despriction2 .despriction2-header {
    width: 95%;
    margin: auto;
  }

  .item-subinfo .item-despriction2 .despriction2-header .close-button {
    font-size: 1rem;
  }

  .item-subinfo .review-empty {
    text-align: center;
    margin-left: 5vw;
  }

  /* cart detail */
  .item-wrap .item-info {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .item-info hr {
    display: none;
  }

  .item-info .item-info-head {
    display: none;
  }

  .item-info .item-price-wrap {
    width: 80vw;
    margin: 1vw auto;
    display: flex;
    justify-content: center;
  }

  .item-info .item-price-wrap .item-price {
    font-size: 1.4rem;
    color: #c1342a;
  }

  .item-info .item-btn-option-wrap {
    margin: 3vw 1vw;
    display: flex;
    justify-content: space-between;
    color: #362c2d;
  }

  .item-info .item-btn-option-wrap button {
    width: 45vw;
    height: 10vw;
  }

  .item-info .item-btn-option-wrap button a {
    font-size: 0.6rem;
    color: #362c2d;
  }

  .item-subinfo .item-review .review-header-area .review-button .show-detail {
    margin-right: 2vw;
  }

  .item-despriction div {
    text-align: center !important;
  }

  .item-despriction ul {
    list-style: square;
  }

  .item-info .cartin-area {
    margin: 5vw 0;
    padding: 3vw 0 6vw 0;
    font-size: 1.2rem;
  }

  .item-info .cartin-area .item-btn-wrap {
    width: 80vw;
    margin: 3vw auto;
  }

  .item-subinfo .review-look {
    width: 95%;
    display: flex;
    margin: auto;
    font-size: 1rem;
  }

  .item-subinfo .review-look span {
    padding-left: 1vw;
  }

  .item-subinfo .review-look a {
    color: #362c2d;
  }

  /* recently selected */
  .recently-list-wrap .recently-item {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .recently-list-wrap .recently-item .product-item-name {
    text-align: center;
  }

  .recently-item .product-item-price-wrap {
    text-align: center;
  }

  /* customer */
  .customer {
    display: flex;
    justify-content: space-between;
    margin: 0 3vw;
  }

  .customer .customer-button {
    width: 45vw;
    height: 40vw;
    padding-top: 2vw;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0 0 4px 3px #e5e5e5;
  }

  .customer .button-01 {
    background-image: url(https://gigaplus.makeshop.jp/kenkonomorij/07_background1.jpg);
    background-size: contain;
  }

  .customer .button-02 {
    background-image: url(https://gigaplus.makeshop.jp/kenkonomorij/07_background2.jpg);
    background-size: contain;
  }

  .customer .headline {
    font-size: 0.8rem;
    padding: 0 2vw;
  }

  .customer-button .subscript {
    margin-top: 1vw;
    margin-bottom: 2vw;
  }

  .customer .show-detail {
    margin: 5vw 0;
  }

  /* catch */
  .product-catch-area {
    width: 100%;
    margin: 0;
    text-align: center;
  }

  .product-catch-area hr {
    display: none;
  }

  .product-catch-area .subscript {
    margin-left: 0;
    text-align: left;
  }

  .product-catch-area .catch-header h1 {
    font-size: 1rem;
    margin-bottom: 1vw;
    padding-bottom: 0.5vw;
    border-bottom: 1px solid #c1342a;
  }

  .product-catch-area .catch-main {
    font-size: 0.8rem;
    text-align: left;
  }

  .product-catch-area .catch-main h2 {
    margin: 5vw 0 2vw 0;
    padding-bottom: 1vw;
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    border-bottom: 1px solid #c1342a;
  }

  .product-catch-area .catch-main .description {
    width: 90%;
    margin: auto;
  }

  .product-catch-area .catch-main .description ul {
    width: 90%;
    margin: auto;
    padding-left: 1vw;
    list-style: square;
  }

  .product-catch-area .cartin-area {
    width: 100%;
    margin: 5vw 0;
    padding: 6vw 0 8vw;
    font-size: 1rem;
  }

  .product-catch-area .cartin-area .general-buy>p {
    margin-left: 0;
    text-align: center;
  }

  .product-catch-area .cartin-area .general-buy .item-price-wrap {
    width: 80%;
    margin: 2vw auto;
  }

  .product-catch-area .cartin-area .general-buy .item-price-wrap .item-point {
    margin-left: 3vw;
    padding: 0 1vw;
  }

  .product-catch-area .cartin-area .item-btn-wrap {
    width: 80vw;
    margin: 5vw auto;
  }

  .product-catch-area .cartin-area .item-btn-wrap .item-btn {
    width: 100%;
    padding: 2vw 0;
  }

  .product-catch-area .cartin-area .item-btn-wrap .item-btn.disabled {
    background: #DDDBDB;
    cursor: default;
    pointer-events: none;
  }

  .product-catch-area .cartin-area .item-btn-wrap .item-btn.off {
    display: none;
  }

  .product-catch-area .cartin-area .item-btn-wrap .item-btn.on {
    display: inline-block;
  }

  .product-catch-area .cartin-area .item-btn-wrap .cart-btn {
    background: #362f2f;
    color: #fff;
    font-size: 0.8rem;
    border-radius: 30px;
    font-weight: bold;
    text-align: center;
  }

  .product-catch-area .item-price-wrap {
    margin: 2vw 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .product-catch-area .item-price-wrap .item-point {
    margin-left: 0;
    padding: 0;
    font-size: 0.8rem;
    font-weight: normal;
    background-color: #fff;
  }

  .product-catch-area .item-price-wrap .item-price {
    margin-left: 0;
    font-size: 1.2rem;
    color: #c1342a;
    display: inline-block;
    font-weight: bold;
  }

  .product-catch-area .item-price-wrap .tax {
    font-size: 0.9rem;
    color: #3e4241;
    margin-left: 0;
  }

  .product-catch-area .item-price-wrap .before-price {
    color: #716969;
    font-size: 0.9rem;
    position: relative;
    padding-bottom: 3vw;
  }

  .product-catch-area .item-price-wrap .before-price::after {
    content: "";
    vertical-align: middle;
    position: absolute;
    left: 50%;
    right: 0;
    bottom: 5px;
    width: 8px;
    height: 8px;
    margin-left: -4px;
    border-top: 3px solid #DDDBDB;
    border-right: 3px solid #DDDBDB;
    transform: rotate(135deg);
  }

  .product-catch-area .item-review {
    display: none;
  }

  .product-catch-area .review-look {
    display: none;
  }
}