@charset "utf-8";

/* -----------------------------------------------------------------
  news
----------------------------------------------------------------- */
/* breadcrumb */
.breadcrumb {
  margin: 50px 0 0 34px;
  padding: 16px;
  font-size: 0.7rem;
  color: #362c2d;
  text-align: left;
}

.breadcrumb li {
  display: inline-block;
}

.breadcrumb a {
  color: #362c2d
}

.breadcrumb a::after {
  content: '\03e';
  margin: 0 2px 0 6px;
}

.breadcrumb li:last-child a::after {
  display: none;
}

/* news */
.contents-wrapper {
  text-align: center;
}

.contents-wrapper .news-head {
  text-align: center;
}

.contents-wrapper .news-head h2 {
  font-size: 1.2rem;
  font-weight: bold;
}

.contents-wrapper .news-wrapper {
  width: 80%;
  margin: 30px auto;
  background-color: #fafafa;
}

.contents-wrapper .news-wrapper .news-date {
  padding: 20px 0 0 20px;
  font-size: 0.7rem;
  font-weight: bold;
  text-align: left;
}

.contents-wrapper .news-wrapper .news-detail {
  padding: 30px;
  font-size: 0.8rem;
  text-align: left;
}

.news-link {
  margin-bottom: 30px;
}


/* -----------------------------------------------------------------
   smartphone
----------------------------------------------------------------- */
@media screen and (max-width: 767px) {

  /* breadcrumb */
  .breadcrumb {
    margin: 10vw 0 0 2vw;
    padding: 3vw;
    font-size: 0.7rem;
    color: #362c2d;
    text-align: left;
  }

  .breadcrumb li {
    display: inline-block;
  }

  .breadcrumb a {
    color: #362c2d
  }

  .breadcrumb a::after {
    content: '\03e';
    margin: 0 2px 0 6px;
  }

  .breadcrumb li:last-child a::after {
    display: none;
  }

  /* news */
  .contents-section {
    margin-bottom: 7vw;
  }

  .news-list-wrapper {
    text-align: center;
  }

  .news-list-wrapper a {
    color: #362c2d;
  }

  .news-list-wrapper .news-head h2 {
    font-size: 1.8rem;
  }

  .news-list-wrapper button {
    margin-top: 10vw;
  }

  .news-list-wrapper ul.contents-news-list {
    margin-top: 5vw;
  }

  .news-list-wrapper ul.contents-news-list li {
    width: 100vw;
    height: 12vw;
    margin: auto;
    display: flex;
    font-size: 0.8rem;
    text-align: left;
    border-top: 1px solid #c9bc93;
  }

  .news-list-wrapper ul.contents-news-list li a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .news-list-wrapper ul.contents-news-list li:last-child {
    border-bottom: 1px solid #c9bc93;
  }

  .news-list-wrapper ul.contents-news-list li a span.date {
    width: 15vw;
    margin-left: 2vw;
  }

  .news-list-wrapper ul.contents-news-list li a span.content {
    width: 60vw;
    margin-left: 5vw;
  }

  .news-list-wrapper ul li a span.arrow {
    margin-left: 5vw;
  }

  .news-pagination {
    margin-bottom: 5vw;
  }

  .news-link {
    margin-bottom: 5vw;
  }
}
