/*
/* news.css
*/

@charset "utf-8";

/*
* { outline: 2px solid red; }
*/
/*------------------------------
 ▼forSP
 -------------------------------*/
/* general */
h1 {
  font-size: 8.5vw;
}

h2 {
  font-size: 7.5vw;
}

h3 {
  font-size: 6vw;
}

h4 {
  font-size: 4.5vw;
}

p {
  font-size: 1.2rem;
  line-height: 2em;
  letter-spacing: .01em;
}

hr {
  width: 60%;
  height: 2px;
  margin: 5vw auto;
  background-color: #007a1c;
}

hr.black {
  background-color: #000;
}

.big {
  font-size: 6vw;
}

.medium {
  font-size: 5vw;
}

.small {
  font-size: 3.5vw;
}

.default-button {
  width: 80vw;
  margin: 0 auto;
}

.head-button {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.head-button a img {
  width: 80vw;
  margin: 0 auto;
}

.head-button>img {
  width: 100vw;
}

.head-button article {
  width: 100%;
  margin: 2vw auto;
  font-size: 1.2rem;
}

.appeal2 {
  width: 100%;
}

/* 1. main */
main {
  width: 100vw;
  margin: 0 auto;
  padding: 10vw 0;
}

/* caption */
main .news-caption-wrapper {
  margin: auto;
}

main .news-caption-wrapper .news-caption-headline {
  width: 100vw;
  margin: 5vw auto 8vw;
  text-align: center;
}

main .news-caption-wrapper .news-caption-headline .news-caption-item {
  width: 100vw;
  margin: 5vw 0 0 0;
  font-size: 8.8vw;
  font-weight: 700;
  line-height: 1.25em;
  letter-spacing: -.1rem;
}

main .news-caption-wrapper .news-caption-headline .news-caption-item .voiceline {
  margin: 3vw 0;
}

main .news-caption-wrapper .news-caption-headline .news-caption-item .voiceline img {
  width: 40%;
}

main .news-caption-wrapper .news-caption-headline .news-caption-item .headline img {
  width: 80%;
}

main .news-caption-wrapper .news-caption-headline .news-caption-item .headtitle h3 {
  font-size: 5.4vw;
  font-feature-settings: "palt" 1;
  line-height: 1.2em;
}

main .news-caption-wrapper .news-caption-headline .news-caption-item .headtitle h3 .headfont {
  font-size: 4.2vw;
  letter-spacing: .01rem;
  font-feature-settings: "palt" 1;
  line-height: 1.2em;
}

main .news-caption-wrapper .news-caption-headline .news-caption-item .headtitle h3 .small {
  padding: 0 0 0 1vw;
}

main .news-caption-wrapper .news-caption-headline .news-caption-item .headmain img {
  width: 100%;
}

main .news-caption-wrapper .news-caption-headline .news-caption-item .news-caption-text {
  width: 80%;
  margin: 0 auto;
  padding: 0 0 5vw;
}

main .news-caption-wrapper .news-caption-headline .news-caption-item .news-caption-text p {
  font-size: 4.3vw;
  line-height: 1.6em;
  font-weight: 500;
}

main .news-article-wrapper .news-article-headline {
  font-size: 7.4vw;
}

main .news-article-wrapper .news-article-headline:nth-child(even) {
  margin: 7vw 0;
}

main .news-article-wrapper .news-article-headline:nth-child(odd) {
  margin: 22vw 0 2vw;
}

main .news-article-wrapper .news-article-headline:nth-child(1) {
  margin: 0;
}

main .news-article-wrapper .news-article-headline h2 {
  margin: 0 0 5vw;
  color: #007a1c;
  font-feature-settings: "palt" 1;
}

main .news-article-wrapper .news-article-headline .news-article-item {
  width: 80%;
  margin: 0 auto;
}

main .news-article-wrapper .news-article-headline .news-article-item img {
  width: 100%;
}

main .news-article-wrapper .news-article-headline .news-article-item .news-article-text {
  margin: 2vw auto;
}

main .news-article-wrapper .news-article-headline .news-article-item .news-article-text p {
  font-size: 4.3vw;
  line-height: 1.8em;
  font-weight: 500;
}

/* campaign */
main .news-campaign-wrapper {
  margin: 10vw 0 0 0;
}

main .news-campaign-wrapper>p {
  margin: 0 auto;
  color: #007a1c;
  text-align: center;
  font-size: 4vw;
  font-weight: 800;
}

main .news-campaign-wrapper .news-campaign-headline {
  width: 80%;
  margin: 12vw auto 0;
}

main .news-campaign-wrapper .news-campaign-headline>h2 {
  font-feature-settings: "palt" 1;
  font-size: 8vw;
}

main .news-campaign-wrapper .news-campaign-headline .head-info {
  width: 100%;
  margin: 5vw auto 0;
}

main .news-campaign-wrapper .news-campaign-headline .head-info p {
  font-size: 4vw;
  font-weight: 500;
  line-height: 1.8em;
  letter-spacing: -.01em;
}

main .news-campaign-wrapper .news-campaign-headline .news-campaign-item article {
  width: 75vw;
  margin: 0 auto;
}

main .news-campaign-wrapper .news-campaign-headline .news-campaign-item article p {
  font-size: 4vw;
  font-weight: 500;
  line-height: 1.7em;
  text-align: left;
}

main .news-campaign-wrapper .news-campaign-headline .appeal {
  width: 80vw;
  margin: 5vw auto 0;
}

main .news-campaign-wrapper .news-campaign-headline .news-campaign-item {
  width: 100%;
  margin: 20vw 0 0 0;
  text-align: center;
  background-image: url("../img/background03.jpg");
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 400vw;
  text-align: center;
  z-index: 99999;
}

main .news-campaign-wrapper .news-campaign-headline .news-campaign-item .news-campaign-text {
  width: 90%;
  margin: 10vw auto;
  padding: 0;
}

main .news-campaign-wrapper .news-campaign-headline .news-campaign-item .news-campaign-text h2 {
  width: 90%;
  margin: 10vw auto;
  padding: 0;
  font-feature-settings: "palt" 1;
}

main .news-campaign-wrapper .news-campaign-headline .news-campaign-item .news-campaign-text img {
  width: 85vw;
  margin: 7vw auto;
}

main .news-campaign-wrapper .news-campaign-headline .news-campaign-item .news-campaign-text .product1 p {
  line-height: 1.7em;
  text-align: left;
}

main .news-campaign-wrapper .news-campaign-headline .news-campaign-item .news-campaign-text .product2 .news-product-text p {
  font-size: 3.8vw;
  line-height: 1.7em;
  text-align: center;
}

main .news-campaign-wrapper .news-campaign-headline .news-campaign-item .news-campaign-text .product2 p.pdhead {
  margin: 0 auto;
  font-size: 4vw;
  font-weight: 600;
  text-align: center;
}

main .news-campaign-wrapper .news-campaign-headline .news-campaign-item .news-campaign-text .product2 p {
  font-size: 3.5vw;
  line-height: 1.4em;
  font-weight: 500;
  text-align: center;
}

main .news-campaign-wrapper .news-campaign-headline .news-campaign-item .news-campaign-text .product2 .dot {
  padding: 2vw 0;
  font-size: 4vw;
}

/* another */
main .news-anothervoice-wrapper {
  margin: 20vw 0 0;
  text-align: center;
  font-weight: 600;
}

main .news-anothervoice-wrapper .news-anothervoice-headline {
  width: 100vw;
  text-align: center;
  font-weight: 600;
}

main .news-anothervoice-wrapper .news-anothervoice-headline>img {
  width: 60%;
  margin: 8vw 0 0 0;
}

main .news-anothervoice-wrapper .news-anothervoice-headline ul li a {
  text-decoration: none;
}

main .news-anothervoice-wrapper .news-anothervoice-headline ul li a .voiceflex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

main .news-anothervoice-wrapper .news-anothervoice-headline ul li a .voiceflex .voiceimgflex {
  width: 30%;
  margin: 0;
}

main .news-anothervoice-wrapper .news-anothervoice-headline ul li a .voiceflex .voiceimgflex img {
  width: 90%;
  margin: 0;
}

main .news-anothervoice-wrapper .news-anothervoice-headline ul li a .voiceflex .voiceshopflex {
  padding: 0 0 5vw 0;
}

main .news-anothervoice-wrapper .news-anothervoice-headline ul li a .voiceflex .voiceshopflex .big {
  font-size: 5.2vw;
}

main .news-anothervoice-wrapper .introduction_button {
  width: 90%;
  margin: 20vw auto 0;
  text-align: center;
}

main .news-anothervoice-wrapper .introduction_button img {
  width: 85%;
  margin: 1vw auto 0;
}

/*-------------------------------
 ▼forPC
 --------------------------------*/
@media screen and (min-width: 769px) {

  /* general */
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.8rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.2rem;
    line-height: 2em;
    letter-spacing: .01em;
  }

  hr {
    width: 60%;
    height: 2px;
    margin: 30px auto;
    background-color: #007a1c;
  }

  hr.black {
    background-color: #000;
  }

  .big {
    font-size: 3rem;
  }

  .medium {
    font-size: 1.7rem;
  }

  .small {
    font-size: 1.2rem;
  }

  .default-button {
    width: 628px;
    margin: 0 auto;
  }

  .head-button {
    width: 100%;
    margin: 10px auto 0;
  }

  .head-button>img {
    width: 90%;
    margin: 10px auto 0;
  }

  .head-button article {
    width: 100%;
    margin: 5px auto;
    font-size: 1.2rem;
  }

  .appeal2 {
    width: 100%;
  }

  /* 1. main */
  main {
    width: 828px;
    margin: 0 auto;
    padding: 80px 0;
  }

  /* caption */
  main .news-caption-wrapper {
    width: 628px;
    margin: auto;
  }

  main .news-caption-wrapper .news-caption-headline {
    width: 100%;
    margin: 10px auto 0;
    font-weight: 500;
    text-align: center;
  }

  main .news-caption-wrapper .news-caption-headline .news-caption-item {
    width: 90%;
    margin: 50px auto;
    font-size: 0;
    font-weight: 700;
    line-height: 1.25em;
    letter-spacing: -.1rem;
  }

  main .news-caption-wrapper .news-caption-headline .news-caption-item hr {
    height: 3px;
  }

  main .news-caption-wrapper .news-caption-headline .news-caption-item .voiceline {
    margin: 50px 0;
  }

  main .news-caption-wrapper .news-caption-headline .news-caption-item .voiceline img {
    width: 40%;
  }

  main .news-caption-wrapper .news-caption-headline .news-caption-item .headline img {
    width: 500px;
  }

  main .news-caption-wrapper .news-caption-headline .news-caption-item .headtitle h3 {
    font-size: 2rem;
    font-weight: 800;
  }

  main .news-caption-wrapper .news-caption-headline .news-caption-item .headmain img {
    width: 100%;
  }

  main .news-caption-wrapper .news-caption-headline .news-caption-item .news-caption-text {
    width: 80%;
    margin: 0 auto 60px;
    padding: 0;
  }

  main .news-caption-wrapper .news-caption-headline .news-caption-item .news-caption-text p {
    font-size: 1.4rem;
  }

  /* article */
  main .news-article-wrapper {
    width: 628px;
    margin: auto;
  }

  main .news-article-wrapper .news-article-headline:nth-child(even) {
    width: 100%;
    margin: 20px auto;
    padding: 20px 0 0 0;
    text-align: center;
  }

  /* article */
  main .news-article-wrapper .news-article-headline:nth-child(odd) {
    width: 100%;
    margin: 100px auto 0;
    padding: 0;
    text-align: center;
  }

  main .news-article-wrapper .news-article-headline:nth-child(1) {
    margin: 0;
  }

  main .news-article-wrapper .news-article-headline h2 {
    margin: 0 0 30px;
    font-size: 2.6rem;
    letter-spacing: -.1rem;
  }

  main .news-article-wrapper .news-article-headline .news-article-item {
    width: 80%;
    margin: 10px auto;
  }

  main .news-article-wrapper .news-article-headline .news-article-item img {
    width: 100%;
  }

  main .news-article-wrapper .news-article-headline .news-article-item .news-article-text {
    margin: 0 auto 40px;
  }

  main .news-article-wrapper .news-article-headline .news-article-item .news-article-text p {
    font-size: 1.4rem;
    font-weight: 500;
  }

  /* campaign */
  main .news-campaign-wrapper {
    margin: 10px 0 0 0;
  }

  main .news-campaign-wrapper>p {
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.5em;
    color: #007a1c;
  }

  main .news-campaign-wrapper .head-button {
    width: 500px;
  }

  main .news-campaign-wrapper .news-campaign-headline {
    width: 628px;
    margin: 80px auto 5px;
  }

  main .news-campaign-wrapper .news-campaign-headline>h2 {
    width: 100%;
    font-size: 3.3rem;
  }

  main .news-campaign-wrapper .news-campaign-headline .head-info {
    width: 80%;
    margin: 30px auto 0;
  }

  main .news-campaign-wrapper .news-campaign-headline .head-info p {
    font-size: 1.4rem;
  }

  main .news-campaign-wrapper .news-campaign-headline .news-campaign-item article {
    width: 100%;
    margin: 0 auto;
  }

  main .news-campaign-wrapper .news-campaign-headline .news-campaign-item article p {
    font-size: 1.6rem;
  }

  main .news-campaign-wrapper .news-campaign-headline .appeal {
    width: 80%;
    margin: 5% auto 0;
  }

  main .news-campaign-wrapper .news-campaign-headline .news-campaign-item {
    width: 100%;
    margin: 20% 0 0 0;
    text-align: center;
    background-image: url("../img/background03.jpg");
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;
    text-align: center;
    z-index: 99999;
  }

  main .news-campaign-wrapper .news-campaign-headline .news-campaign-item .news-campaign-text {
    width: 80%;
    margin: 80px auto;
    padding: 0;
  }

  main .news-campaign-wrapper .news-campaign-headline .news-campaign-item .news-campaign-text img {
    width: 85%;
    margin: 7px auto;
  }

  main .news-campaign-wrapper .news-campaign-headline .news-campaign-item .news-campaign-text .product1 p {
    line-height: 1.7em;
    text-align: left;
  }

  main .news-campaign-wrapper .news-campaign-headline .news-campaign-item .news-campaign-text .product2 .news-product-text p {
    font-size: 1.4rem;
    line-height: 1.7em;
    text-align: center;
  }

  main .news-campaign-wrapper .news-campaign-headline .news-campaign-item .news-campaign-text .product2 p.pdhead {
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
  }

  main .news-campaign-wrapper .news-campaign-headline .news-campaign-item .news-campaign-text .product2 p {
    font-size: 1.5rem;
    line-height: 1.4em;
    font-weight: 500;
    text-align: center;
  }

  main .news-campaign-wrapper .news-campaign-headline .news-campaign-item .news-campaign-text .product2 .dot {
    padding: 5px 0;
    font-size: 1.8rem;
  }

  /* another */
  main .news-anothervoice-wrapper {
    margin: 50px 0 0;
    text-align: center;
    font-weight: 600;
  }

  main .news-anothervoice-wrapper .news-anothervoice-headline {
    width: 100%;
    text-align: center;
    font-weight: 600;
  }

  main .news-anothervoice-wrapper .news-anothervoice-headline>img {
    width: 40%;
    margin: 10% 0 0 0;
  }

  main .news-anothervoice-wrapper .news-anothervoice-headline ul li a {
    text-decoration: none;
  }

  main .news-anothervoice-wrapper .news-anothervoice-headline ul li a .voiceflex {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
  }

  main .news-anothervoice-wrapper .news-anothervoice-headline ul li a .voiceflex .voiceimgflex {
    width: 30%;
    margin: 0;
  }

  main .news-anothervoice-wrapper .news-anothervoice-headline ul li a .voiceflex .voiceimgflex img {
    width: 90%;
    margin: 0;
  }

  main .news-anothervoice-wrapper .news-anothervoice-headline ul li a .voiceflex .voiceshopflex {
    padding: 0 0 5% 0;
  }

  main .news-anothervoice-wrapper .news-anothervoice-headline ul li a .voiceflex .voiceshopflex .big {
    font-size: 3rem;
  }

  main .news-anothervoice-wrapper .introduction_button {
    width: 90%;
    margin: 150px auto 0;
    text-align: center;
  }

  main .news-anothervoice-wrapper .introduction_button h4 {
    font-size: 2rem;
  }

  main .news-anothervoice-wrapper .introduction_button img {
    width: 75%;
    margin: 1% auto 0;
  }
}