/*
/* common.css
*/

@charset "utf-8";

/*------------------------------
 ▼共通デザイン（モバイル向け）
 -------------------------------*/
body {
  width: 100vw;
  margin: 0;
}

a {
  color: #007a1c;
}

p {
  margin: auto;
  justify-content: space-around;
  text-align: justify;
  font-feature-settings: "palt";
  line-height: 1.8em;
  letter-spacing: 0.05em;
  font-size: 1.05rem;
}

ul {
  padding-inline-start: 0;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

input[type=radio] {
  display: none;
}

li a {
  display: block;
  height: 100%;
  width: 100%
}

h3 {
  margin: 0;
}

.display-none {
  display: none;
}

.forpc {
  display: none;
}

/* フォント */
.noto-serif {
  font-family: "Noto Serif JP", serif;
  font-weight: 600;
  font-style: normal;
}

.noto-sans {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}

.font400 {
  font-weight: 400;
}

.font500 {
  font-weight: 500;
}

.font600 {
  font-weight: 600;
}

.bold {
  font-weight: bold;
}

.red {
  color: #d80909;
  font-weight: bold;
}

.check_lb {
  display: block;
}

/* 1. header */
header #header {
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 9999;
}

header #header .header-flex {
  display: flex;
  flex-direction: row;
  padding-top: 1vw;
  z-index: 9000;
}

header #header .header-flex .header-icon {
  margin: 2vw 1vw;
}

header #header .header-flex .header-logo a>img {
  width: 30vw;
  margin: 1vw 0 0 2vw;
}

header #header .header-flex .instagram {
  margin-left: 45vw;
}

header #header .header-flex .instagram img {
  width: 8.5vw;
}

header #header .header-flex .hamburger {
  padding: 0.5vw 0 0 0.5vw;
  cursor: pointer;
}

header #header .header-flex .hamburger img {
  width: 8vw;
}

/* 2.footer */
footer {
  width: 100vw;
  margin-top: 20vw;
  color: #606072;
}

footer a {
  color: #606072;
  text-decoration: none;
}

footer .footer-img {
  text-align: center;
}

footer .footer-img .footerimg1 {
  width: 45%;
}

footer .footer-img .footerimg2 {
  width: 12%;
  margin-top: 3vw;
}

footer .footer-column {
  margin-top: 5vw;
  font-size: 1vw;
  font-weight: 500;
  background-color: #E5E5E5;
}

footer .footer-column ul {
  width: 100%;
}

footer .footer-column ul li {
  width: 90%;
  height: 12vw;
  font-size: 1rem;
  line-height: 12vw;
  list-style: none;
  margin: auto;
  border-top: solid 1px #606072;
}

footer .footer-column ul li a,
footer .footer-column ul li span {
  padding-left: 5vw;
}

footer .footer-column ul li span {
  cursor: pointer;
}

footer .footer-column ul li.commercial_link span {
  justify-content: flex-start;
}

footer .footer-column ul li.privacy_link {
  border-bottom: solid 1px #606072;
}

footer .footer-column ul li.privacy_link span {
  justify-content: flex-start;
}

footer .footer-logo {
  padding: 6vw 0 15vw 0;
  text-align: center;
}

footer .footer-logo img {
  padding: 2vw 0;
}

footer .footer-logo .ebisudo-logo {
  max-width: 45vw;
}

footer .footer-logo .twenty-year {
  max-width: 60vw;
}

/* 3.fixed_btn */
.fixed_btn {
  width: 100vw;
  top: auto;
  bottom: -10px;
  position: fixed;
}

.fixed_btn img {
  margin: 0 auto;
  padding: 0;
}

/* 4.menu */
.menuarea {
  top: 0;
  position: fixed;
}

.menuarea a {
  color: #000;
  text-decoration: none;
}

.menuarea .menu-base .menu-text {
  width: 100vw;
  padding-bottom: 2vh;
  top: 50px;
  position: fixed;
  color: #606072;
  background-image: url("../img/menu_back_01.jpg");
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 100% auto;
  box-shadow: 0 0 4px 3px #e5e5e5;
  z-index: 99999;
}

.menuarea .menu-base .menu-text li {
  height: 10vw;
  padding-left: 5vw;
  font-size: 4.5vw;
  line-height: 10vw;
  list-style: none;
  z-index: 99999;
}

.menuarea .menu-base .menu-text li:first-child {
  height: 0.4vw;
  margin-top: 5vw;
}

.menuarea .menu-base .menu-text li .batsu {
  margin-left: 80vw;
  font-size: 10vw;
}

/*-------------------------------
 ▼大型画面向けデザイン（PCなど）
 --------------------------------*/
@media screen and (min-width: 768px) {
  body {
    width: 100%;
    margin: 0;
    user-select: none;
  }

  main {
    margin: 0;
  }

  .forsp {
    display: none;
  }

  .forpc {
    display: block;
  }

  /* 1. header */
  header #header {
    position: fixed;
    width: 100vw;
    top: 0;
    background-color: #fff;
    z-index: 9999;
  }

  header #header .header-flex {
    display: flex;
    flex-direction: row;
    top: 0;
    padding-top: 5px;
    align-items: center;
    justify-content: center;
    z-index: 9000;
  }

  header #header .header-flex .header-icon {
    margin: 10px;
  }

  header #header .header-flex .header-logo a>img {
    width: 180px;
    margin: 10px 0 0 20px;
  }

  header #header .header-flex .instagram {
    margin-left: 500px;
    padding-top: 8px;
  }

  header #header .header-flex .instagram img {
    width: 50px;
  }

  header #header .header-flex .hamburger {
    padding: 8px 2vw 0 0;
    cursor: pointer;
  }

  header #header .header-flex .hamburger img {
    width: 48px;
  }

  /* 2.footer */
  footer {
    width: 100%;
    margin: 10px auto;
    color: #606072;
  }

  footer a {
    color: #606072;
    text-decoration: none;
  }

  footer .footer-img {
    margin-top: 100px;
    text-align: center;
  }

  footer .footer-img .footerimg1 {
    width: 217px;
  }

  footer .footer-img .footerimg2 {
    width: 43px;
    margin-top: 10px;
  }

  footer .footer-column {
    margin-top: 50px;
    font-size: 20px;
    font-weight: 500;
    background-color: #E5E5E5;
  }

  footer .footer-column ul {
    width: 100%;
  }

  footer .footer-column ul li {
    width: 100%;
    height: 60px;
    margin: auto;
    font-size: 20px;
    line-height: 3em;
    list-style: none;
    border-top: solid 1px #606072;
  }

  footer .footer-column ul li a,
  footer .footer-column ul li span {
    padding-left: 50px;
  }

  footer .footer-column ul li span {
    cursor: pointer;
  }

  footer .footer-column ul li.commercial_link span {
    justify-content: flex-start;
  }

  footer .footer-column ul li.privacy_link {
    border-bottom: solid 1px #606072;
  }

  footer .footer-column ul li.privacy_link span {
    justify-content: flex-start;
  }

  footer .footer-logo {
    padding: 10px 0 15px 50px;
    text-align: left;
  }

  footer .footer-logo img {
    max-width: 300px;
    padding: 10px 0;
  }

  footer .footer-logo .ebisudo-logo {
    width: 199px;
  }

  footer .footer-logo .twenty-year {
    width: 247px;
  }

  /* 3.menu */
  /* 6.menu */
  .menuarea {
    z-index: 11111;
  }

  .menuarea .menu-base .menu-text {
    width: 365px;
    top: 65px;
    right: calc(100vw / 2 - 500px);
    position: fixed;
    color: #191919;
    background-size: 415px 527px;
    box-shadow: 0 0 4px 3px #e5e5e5;
  }

  .menuarea .menu-base ul.menu-text {
    padding-top: 0;
    padding-bottom: 60px;
  }

  .menuarea .menu-base .menu-text li {
    position: relative;
    height: 40px;
    margin: 10px 0 5px 10px;
    padding: 5px 0 10px 10px;
    line-height: 4em;
    font-size: 1.6rem;
  }

  .menuarea .menu-base .menu-text li a {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 80%;
    height: 110%;
    font-size: 1.6rem;
  }

  .menuarea .menu-base .menu-text li:first-child {
    margin-top: 0;
    padding: 0 0 0px 10px;
    font-size: 1.6rem;
  }

  .menuarea .menu-base .menu-text li .batsu {
    margin-left: 300px;
    font-size: 50px;
  }
}