/*
/* index.css
*/

@charset "utf-8";

/*------------------------------
 ▼共通デザイン（モバイル向け）
 -------------------------------*/
li a {
  display: block;
  height: 100%;
  width: 100%
}

p {
  font-size: 1.05rem;
}

.textimg {
  width: 92% !important;
}

/* 1. entry */
main #entry .entry-image {
  width: 100vw;
  height: 200vw;
  background-image: url("../img/background01_sp.png");
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center 15vw;
  z-index: 99999;
  text-align: center;
}

main #entry .entry-image img {
  width: 80%;
  margin-top: 182vw;
}

main #entry .entry-headline {
  margin: 5vw auto 12vw;
  padding-top: 20vw;
}

main #entry .entry-headline .entry-text {
  width: 100%;
  margin: 0 auto 5vw auto;
  font-size: 1.2rem;
  text-align: center;
}

main #entry .entry-headline .entry-text p {
  width: 80%;
  font-weight: 500;
}

main #entry .entry-footer {
  text-align: center;
}

main #entry .entry-footer img {
  width: 80%;
  margin: 0 auto;
}

/* 2. catch */
main #catch {
  margin-top: 7vw;
}

main #catch .catch-image {
  width: 100vw;
  height: 250vw;
  background-image: url("../img/background02.png");
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  z-index: 99999;
  text-align: center;
}

main #catch .catch-image img {
  width: 70vw;
  margin-top: 240vw;
}

/* 3. questionnaire */
main #questionaire {
  width: 100vw;
  margin-top: 25vw;
  background-image: url("../img/background03.jpg");
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 20vw;
  z-index: 99999;
}

main #questionaire .qhead {
  width: 80vw;
  margin: auto;
  text-align: center;
}

main #questionaire .qhead img {
  width: 80%;
  margin: auto;
}

main #questionaire #q01 {
  padding-top: 100px;
  margin-top: -70px;
}

main #questionaire .question {
  width: 80vw;
  padding: 5vw 0;
  font-size: 1.2rem;
  text-align: center;
  margin: auto;
}

main #questionaire .question .qbig {
  width: 100%;
  margin: auto;
}

main #questionaire .question .appeal {
  width: 100%;
  margin-top: 4vw;
}

main #questionaire .question ul {
  padding: 0;
  margin: 0 0 2%;
  text-align: center;
  vertical-align: baseline;
  list-style: none;
}

main #questionaire .question ul li {
  line-height: 1;
  margin-bottom: -.6em;
  padding: 0.4em 0.5em;
  min-height: 0vw;
  position: relative;
  list-style: none;
  letter-spacing: .1rem;
  color: #000;
}

main #questionaire .question ul li div {
  margin: 1vw 0;
}

main #questionaire .question ul li div label {
  padding: 0.2em 0 0.2em 0.5em;
  cursor: pointer;
  vertical-align: middle;
}

main #questionaire .question ul li .inner label {
  display: block;
  padding-left: 7vw;
  position: relative;
  text-align: left;
}

main #questionaire .question ul li .innershort label {
  display: block;
  padding-left: 18vw;
  position: relative;
  text-align: left;
}

main #questionaire .question ul li div label div {
  width: 100%;
}

main #questionaire .question ul li div label .shortq img {
  width: 50%;
}

main #questionaire .check::before {
  content: "";
  display: inline-block;
  vertical-align: text-top;
  margin-right: 5px;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  border: 1px solid #ccc;
  position: absolute;
  left: 0%;
  top: 30%;
  cursor: pointer;
}

main #questionaire .check::after {
  content: "";
  display: block;
  width: 8px;
  height: 18px;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
  border-bottom: 3px solid #F0481B;
  border-right: 3px solid #F0481B;
  position: absolute;
  left: 1%;
  top: 15%;
  margin: auto;
  opacity: 0;
  -webkit-transition: .2s;
  transition: .2s;
}

main #questionaire .innershort .check::before {
  left: 15%;
}

main #questionaire .innershort .check::after {
  left: 16%;
}

main #questionaire input[type=radio]:checked+.check::after {
  opacity: 1;
}

main #questionaire input[type=radio] {
  display: none;
}

/* 4. policy */
main #policy {
  width: 85vw;
  margin: auto;
}

main #policy>img {
  width: 100%;
}

main #policy .policy-headline {
  text-align: center;
}

main #policy .policy-headline img {
  margin: 3vw 0;
}

main #policy .policy-headline p {
  width: 90%;
  font-size: 1rem;
  font-weight: 500;
}

main #policy .policy-headline .arrow1 {
  width: 80%;
}

main #policy .policy-headline .arrow2 {
  width: 30%;
}

main #policy .policy-headline .text2 {
  width: 100%;
}

main #policy .check_area {
  margin-top: 5vw;
  padding: 4vw 3vw 8vw;
  font-size: 4vw;
  background-color: #D8D8D8;
}

main #policy .check_area .check_lb {
  margin: 1vw 0;
}

main #policy .check_area .check_lb input[type=checkbox] {
  transform: scale(1.5);
}

main #policy .check_area .check_lb .check-text {
  padding-left: 0.5vw;
}


main #policy .button_area {
  margin-top: -5vw;
  text-align: center;
}

main #policy .button_area a img {
  opacity: 1;
}

main #policy .annotation {
  width: 100%;
  margin: auto;
}

main #policy .annotation p {
  font-size: 1rem;
  text-align: center;
}

/*-------------------------------
 ▼大型画面向けデザイン（PCなど）
 --------------------------------*/
@media screen and (min-width: 768px) {
  input[type=checkbox] {
    transform: scale(1.5);
  }

  /* 1. entry */
  main #entry {
    margin: 0 auto;
  }

  main #entry .entry-image {
    width: 100%;
    height: 1500px;
    background-image: url("../img/background01_pc.png");
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 80px;
    z-index: 99999;
    text-align: center;
  }

  main #entry .entry-image img {
    width: 370px;
    margin-top: 1350px;
    cursor: pointer;
  }

  main #entry .entry-headline {
    width: 428px;
    margin: 30px auto;
    padding-top: 20px;
    text-align: center;
  }

  main #entry .entry-headline .entry-text {
    width: 100%;
    margin: 20px auto 80px auto;
  }

  main #entry .entry-headline .entry-text p {
    font-size: 20px;
  }

  main #entry .entry-headline .entry-text img {
    width: 500px;
    margin: 0 auto 20px auto;
  }

  main #entry .entry-footer {
    width: 528px;
    margin: auto;
  }

  main #entry .entry-footer>img {
    width: 370px;
    cursor: pointer;
  }

  /* 3. catch */
  main #catch {
    margin-top: 50px;
  }

  main #catch .catch-image {
    width: 528px;
    height: 1200px;
    margin: auto;
    background-image: url("../img/background02.png");
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    z-index: 99999;
    text-align: center;
  }

  main #catch .catch-image img {
    width: 313px;
    margin-top: 1140px;
    cursor: pointer;
  }

  /* 4. questionnaire */
  main #questionaire {
    width: 528px;
    margin: 80px auto 50px auto;
    background-image: url("../img/background03.jpg");
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 100px;
    z-index: 99999;
  }

  main #questionaire .qhead {
    width: 500px;
    margin: auto;
    text-align: center;
  }

  main #questionaire .qhead img {
    width: 300px;
    margin: auto;
  }

  main #questionaire .question {
    width: 500px;
    padding: 20px 0;
    text-align: center;
    margin: auto;
  }

  main #questionaire .question .q {
    width: 81px;
    margin: auto;
  }

  main #questionaire .question .qbig {
    width: 80%;
    margin: auto;
  }

  main #questionaire .question .appeal {
    width: 100%;
    margin-top: 4vw;
  }

  main #questionaire .question .appeal {
    width: 80%;
    margin: 15px 0;
  }

  main #questionaire .question ul {
    padding: 0;
    margin: 10px 0 8px;
    text-align: center;
    vertical-align: baseline;
    list-style: none;
  }

  main #questionaire .question ul li {
    line-height: 1;
    padding-left: 0.5em;
    min-height: 0;
    position: relative;
    list-style: none;
    letter-spacing: .1rem;
    color: #000;
    margin-bottom: -.6em;
  }

  main #questionaire .question ul li .inner {
    margin: 10px 0;
  }

  main #questionaire .question ul li .inner label {
    padding: 0.2em 0 0.2em 78px;
    cursor: pointer;
    vertical-align: middle;
    line-height: 1;
  }

  main #questionaire .question ul li .innershort label {
    display: block;
    padding-left: 145px;
    position: relative;
    text-align: left;
  }

  main #questionaire .question ul li div {
    margin: 5px 0;
  }

  main #questionaire .question ul li div label {
    font-size: 1.6rem;
  }

  main #questionaire .question ul li div label div {
    width: 100%;
  }

  main #questionaire .question ul li div label .shortq {
    padding-left: 4px;
  }

  main #questionaire .question ul li div label .shortq img {
    width: 50%;
  }

  main #questionaire .innershort .check::before {
    left: 25%;
  }

  main #questionaire .innershort .check::after {
    left: 26%;
  }

  main #questionaire input[type=radio] {
    display: none;
  }

  main #questionaire .check::before {
    content: "";
    display: inline-block;
    vertical-align: text-top;
    margin-right: 5px;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    border: 1px solid #ccc;
    position: absolute;
    left: 10%;
    cursor: pointer;
  }

  main #questionaire .check::after {
    content: "";
    display: block;
    width: 8px;
    height: 18px;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    border-bottom: 3px solid #F0481B;
    border-right: 3px solid #F0481B;
    position: absolute;
    left: 11%;
    top: 20%;
    margin: auto;
    opacity: 0;
    -webkit-transition: .2s;
    transition: .2s;
  }

  main #questionaire input[type=radio]:checked+.check::after {
    opacity: 1;
  }

  main #questionaire li span {
    display: block;
    padding-left: 130px;
    position: relative;
    text-align: left;
  }

  main #questionaire li span div {
    line-height: 1.4;
  }

  /* 5. policy */
  main #policy {
    width: 528px;
    margin: auto;
  }

  main #policy>img {
    width: 100%;
  }

  main #policy .policy-headline {
    text-align: center;
  }

  main #policy .policy-headline img {
    margin: 20px 0;
  }

  main #policy .policy-headline p {
    width: 70%;
    font-size: 18px;
  }

  main #policy .policy-headline .arrow1 {
    width: 300px;
  }

  main #policy .policy-headline .arrow2 {
    width: 120px;
  }

  main #policy .policy-headline .text2 {
    width: 350px;
  }

  main #policy .check_area {
    width: 500px;
    margin: 30px auto;
    padding: 10px 10px 60px;
    font-size: 18px;
    background-color: #D8D8D8;
  }

  main #policy .check_area .check_lb {
    margin: 10px 0;
    text-align: center;
  }

  main #policy .button_area {
    margin-top: -80px;
    text-align: center;
  }

  main #policy .button_area img {
    width: 80%;
  }


  main #policy .button_area a img {
    opacity: 1;
    cursor: pointer;
  }

  main #policy .annotation {
    width: 100%;
    margin: auto;
  }

  main #policy .annotation p {
    font-size: 21px;
    text-align: center;
  }
}