@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');

/*
* { outline: 2px solid red; }
*/
/*------------------------------
 ▼共通デザイン
 -------------------------------*/
/* tag */
body {
    width: 100vw;
    margin: 0;
    background-repeat: repeat;
    background-position: center;
    background-size: 20%;
    z-index: 1;
}

a {
    color: #fff;
}

p {
    margin: auto;
    justify-content: space-around;
    text-align: justify;
    font-feature-settings: "palt";
    line-height: 1.8em;
    letter-spacing: 0.05em;
}

ul {
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    list-style: none;
}

dt {
    margin: 0;
}

dd {
    margin: 0;
}

ol {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

img {
    max-width: 100%;
    height: auto;
}

input[type=radio] {
    display: none;
}

a {
    text-decoration: none;
}

/* font */
.zen-maru-gothic-bold {
    font-family: "Zen Maru Gothic", serif;
    font-weight: 700;
    font-style: normal;
}

/* breadcrumb */
.breadcrumb-nav {
    width: 100%;
    font-size: 0.7rem;
    background-color: #000;
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-left: 5vw;
}

.breadcrumb li:not(:last-of-type)::after {
    content: ">";
    color: #fff;
    margin: 0 .6em;
}

/*------------------------------
 ▼ヘッダ部分
 -------------------------------*/
/* content */
.whole-header {
    padding: 0 2vw;
    background-color: #000;
    font-size: 0.7rem;
    color: #fff;
}

.content-wrapper {
    max-width: 100vw;
    margin: 0 auto;
    background-color: #fff;
}

/* header */
header {
    padding-top: 2vw;
    background-image: url(../img/bg.jpg);
}

header .whole-header {
    width: 100vw;
}

header .whole-header p {
    text-align: center;
    padding: 1vw;
    font-size: 0.7rem;
    color: #fff;
}

header .header-wrapper {
    width: 100vw;
    padding-bottom: 5vw;
}

header .header-wrapper .header-flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2vw 0;
}

header .header-wrapper .header-flex div {
    padding-right: 3.5vw;
}

header .header-wrapper .header-flex .header-logo {
    margin-left: 2vw;
}

header .header-wrapper .header-flex .header-logo img {
    width: 17vw;
    margin-left: 1vw;
}

header .header-wrapper .header-flex .cart img {
    width: 5vw;
}

header .header-wrapper .header-flex .login {
    padding-bottom: 2vw;
    margin-left: auto;
}

header .header-wrapper .header-flex .login p {
    font-size: 0.8rem;
    font-weight: 800;
}

header .header-wrapper .header-flex .telephone p {
    font-size: 1.2rem;
    font-weight: 800;
    padding-bottom: 2vw;
}

header .header-wrapper .header-flex .information img {
    width: 7vw;
}

header .header-main-image {
    width: 95%;
    margin: 0 auto;
}

/*------------------------------
 ▼コンテンツ部分
 -------------------------------*/
 /* contents */
main {
    width: 100vw;
}

main .whole-wrapper {
    width: 100%;
}

/* mainarea */
main .whole-wrapper .mainarea .attention-area {
    margin: 3vw auto;
}

main .whole-wrapper .mainarea .attention-area ul {
    margin: 0 auto;
    text-align: center;
}

main .whole-wrapper .mainarea .attention-area ul li {
    margin-top: 2vw;
}

main .whole-wrapper .mainarea .attention-area {
    width: 90%;
    margin: 5vw auto;
}

main .whole-wrapper .mainarea .attention-area img {
    width: 100%;
}

main .whole-wrapper .mainarea .attention-area .article-area {
    width: 90%;
    margin: auto;
}

main .whole-wrapper .mainarea .attention-area .article-area ul li {
    font-size: 0.9rem;
    margin: 5vw 0;
    text-align: left;
}

main .whole-wrapper .mainarea .faq-area {
    margin: 5vw 0;
}

main .whole-wrapper .mainarea .faq-area .faq-index-area {
    position: relative;
    margin: 20vw 2vw 15vw;
    background-color: #eee;
    font-size: 0.9rem;
}

main .whole-wrapper .mainarea .faq-area .faq-index-area img {
    position: absolute;
    width: 50vw;
    top: -10vw;
    left: calc(48vw / 2);
}

main .whole-wrapper .mainarea .faq-area .faq-index-area .faq-index-article-area {
    padding-top: 10vw;
    text-align: center;
}

main .whole-wrapper .mainarea .faq-area .faq-index-area .faq-index-article-area ul {
    padding: 5vw;
    font-weight: 600;
}

main .whole-wrapper .mainarea .faq-area .faq-index-area .faq-index-article-area ul li {
    margin: 3vw 0;
    text-align: left;
    list-style: inside;
    font-weight: 400;
}

main .whole-wrapper .mainarea .faq-area .faq-index-area .faq-index-article-area ul li a {
    color: #001eff;
    text-decoration: underline;
}

main .whole-wrapper .mainarea .faq-area .faq-article-area {
    width: 95%;
    margin: 2vw auto 10vw;
}

main .whole-wrapper .mainarea .faq-area .faq-article-area div {
    margin: 3vw 0 5vw;
}

main .whole-wrapper .mainarea .faq-area .faq-article-area div dl {
    padding-top: 5vw;
}
main .whole-wrapper .mainarea .faq-area .faq-article-area div dl .purple {
    font-size: 0.9rem;
    padding-top: 3vw;
    text-align: right;
}

main .whole-wrapper .mainarea .faq-area .faq-article-area div dl .purple a {
    color: #b67dec;
    text-decoration: underline;
}

main .whole-wrapper .mainarea .faq-area .faq-article-area div dl dt {
    position: relative;
    padding-bottom: 2vw;
    font-size: 1.1rem;
    font-family: "Noto Sans JP", sans-serif;
    color: #ff992b;
    font-weight: 600;
    text-align: left;
    line-height: 1em;
    background-color: #fff0df;
}

main .whole-wrapper .mainarea .faq-area .faq-article-area div dl dt img {
    position: absolute;
    width: 40vw;
    top: -7vw;
    left: 0;
 }

main .whole-wrapper .mainarea .faq-area .faq-article-area div dl dd {
    position: relative;
    padding: 5vw 1vw;
    font-size: 0.9rem;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 600;
    text-align: left;
    background-color: #f4e8ff;
}

main .whole-wrapper .mainarea .faq-area .faq-article-area div dl dd img {
    position: absolute;
    width: 40vw;
    bottom: -4vw;
    right: 0;
}


/* sidebar */
main .whole-wrapper .sidebar {
    width: 100%;
    background-color: #5dd2bd;
    border-radius: 0 20vw 0 0;
    text-align: center;
}

main .whole-wrapper .sidebar ul {
    margin: 0 auto;
    text-align: center;
    padding: 5vw 0;
}

main .whole-wrapper .sidebar ul li {
    text-align: center;
    margin: 0 auto;
    padding: 2vw 0;
}

main .whole-wrapper .sidebar ul li a img {
    width: 80%;
    margin: 0 auto;
}


/*------------------------------
 ▼フッター
 -------------------------------*/
 footer {
    padding-top: 5vw;
    background-image: url(../img/bg.jpg);
}

 footer .footer-headline  {
    display: flex;
    position: relative;
    width: 100%;
    margin: auto;
    background-image: url(../img/footer_comment_sp.png), url(../img/footer.jpg);
    background-repeat: no-repeat;
    background-position: center bottom, center top;
    background-size: 90%, 100%;
}

footer .footer-headline .footer-headline-txt {
    width: 100%;
    height: 140vw;
    margin-top: 110vw;
    text-align: left;
}

footer .footer-headline .footer-headline-txt p {
    padding: 4vw 10vw;
    color: #FFF;
    font-size: calc(3.85vw + 0.2rem);
    font-weight: 500;
}
